.add-button {
	margin: 0 20px;
  padding: 15px 34px;
	overflow: hidden;
	font-family: 'Montserrat Alternates', sans-serif;
  color: white;
	letter-spacing: 1px;
  text-transform: uppercase;
	font-weight: 600;
  border-width: 0;
  border-radius: 0px;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  outline: none;
  background: linear-gradient(90deg, #c600b2, #7619fd);
    cursor: pointer;
}
.add-button:before,
.add-button:after {
    content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
  height: 100%;
  left: -110%;
  top: 0;
	opacity: 0.1;
	background: black;
  transform: skewX(25deg);
	transition: .5s ease;
}
.add-button:hover:before {
    left: -10%;
    transition: .3s ease;
}
.add-button:hover:after {
    left: -20%;
}