.look-currency {
  position: relative;
  right: 142%;
  bottom: 37px;
}
.bot-header{
  background-color: #434190;
}
.order-count {
  position: relative;
  width: 250px;
  left: 125%;
  bottom: 15px;
}

